a {
	color: rgb(51,204,204);
}

body {
	background: #efefef;
}

.main-title {
	font-size: 46px;
}

.secondary-title {
	font-size: 24px;
	font-weight: normal !important;
    line-height: 1.42em;
}

.zip-input {
    margin: 60px auto;
}

.zip-input label {
    margin: auto;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 300px;
    background: rgba(0,0,0,0.7);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    display: block;
    padding: 5px 10px;
    color: rgb(51,204,204);
}

.zip-input input {
    width: 300px;
    height: 70px;
    margin: auto;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
    padding: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .25);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .25);
}

.promo-3 {
    padding: 60px 0 0 0;
}


/* Slider */
.ui-slider {
	cursor: pointer;
	background: green;
	width:50%;
	height: 1em;
	margin: 0 auto;
	border: solid 2px white;
	border-radius: 5px;
}
.ui-slider .ui-slider-handle {
	cursor: pointer;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	top: -10px;
	border: 1px solid black;
	background: green;
}
.ui-slider .ui-slider-handle:focus {
	outline: none;
}

.slider-container > div ,
.slider-container > p {
	display: inline-block;
}
#amount {
	margin-left: 20px;
}
.slider-container > p > span {
	color: white;
	font-size: 1.5em;
	border:0;
	font-weight:bold;
}
.cards i {
	color: #31CAC9;
}
.cards p {
	color: white;
	font-size: 2em;
  font-weight: bold;
}

.spacer {
	/*height: 300px;*/
	background: black;
	text-align: center;
	display: none;

}

.spacer p {
	color: white;

}

.card-descriptions p {
	color: #F39C12 !important;
	/*font-size: 1.3em;*/
	font-weight: bold;
}

.carousel {
	height: 300px;
}
.carousel-inner {
	margin: 0 auto;
	width: 70%;
	border: solid 15px white;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
  border-radius: 50%;
  background-color: white;
  color: #eee;
  text-shadow: none;
  height: 50px;
  width: 50px;
	padding-top: 10px;
	top: 4em;
}
.carousel-control.left i,
.carousel-control.right i {
	margin: 0 auto;
}

.content-block.content-1-3 {
	background: #EEE;
}

.content-block.technologies h4 {
	font-weight: bolder;
	font-size: x-large;
	color: #333;
}

.content-block.technologies i {
	border: solid 2px #eee;
	border-radius: 15px;
	min-width: 60px;
	padding: 15px;
}

.featured {
	text-align: center;
	font-weight:bold;
	color:#444;
    margin: 30px 0;
}

.square-btn {
    background-color: rgba(51,204,204,1);
    padding: 10px 20px;
    margin: 30px auto;
    text-transform: uppercase;
    color: #fff;
    display: table;
}

.post-onboard {
	display: none;
}

.team-member p {
	line-height: 1.38em;
    text-align: center;
}

.bottom-card-numbers, .middle-card-info, .middle-card-icons {
	padding: 0;
	margin: 0;
	padding: 5px 15px;
    display: table;
    width: 100%;
}

.bottom-card-numbers li, .middle-card-info li {
    display: inline-block;
    width: 33%;
    float: left;
}

.middle-card-info li {
	text-align: center;
}

.card-info-label {
    font-weight: bold;
}

.middle-card-icons li {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
}

.card-info-miles-block i, .card-info-signup-block span {
    float: left;
}

.card-info-miles-block, .card-info-signup-block {
    width: 85px;
    display: table;
}

.card-info-miles-block {
	float: left;
}

.card-info-signup-block {
	float: right;
}

.card-info-miles-block span {
    margin-top: 5px;
    float: right;
}

.card-info-signup-block span {
	margin-top: 5px;
}

.orange-icon {
	color: orange;
}

.green-icon {
	color: #8BC34A;
}

.card-progress {
	background-color: rgb(241, 241, 241);
	width: 100%;
}

.card-progress-bar {
    background-color: #8BC34A;
    height: 10px;
}

.progress-100 {
	width: 100%;
}

.progress-70 {
	width: 70%;
}

.team-member.inline {
	display: inline-block;
	width:33%;
}

#content-1-3 .team-member:nth-child(3) {
	margin-right: 0;
}

#content-1-3 .team-member:nth-child(6) {
	margin-right: 0;
}

#content-2-9 .team-member {
    max-width: 280px;
    margin-right: 10px
}

#content-2-9 .bottom-card-numbers li, #content-2-9 .middle-card-info li {
	display: inline-block;
    width: 50%;
    float: left;
}

#content-2-9 h5 {
	text-align: center;
}

li.team-member-wrap {
    float: left;
    max-width: 234px;
    list-style: none;
}

.center-text {
    text-align: center;
    margin: 10px 0;
}

.team-details p {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 20px;        /* fallback */
   max-height: 40px;       /* fallback */
}

.white-bg {
    background-color: #fff;
    padding: 35px 0;
}

.white-bg p {
    max-width: 675px;
    text-align: center;
    margin: 0 auto;
}

.offset-padding {
	padding: 40px 0;
}

.news-card {
	margin-bottom: 20px;
    overflow: hidden;
    border-top: 0;
    background-color: #fff;
    border-radius: 8px;
}

.news-card p {
	padding: 20px 40px;
	text-align: center;
}

.news-card .btn {
	color: #333;
	border: solid 1px #eee;
}

/* Featured Project Cards */

.featured-project-card {
	max-width: 500px;
	margin: 0 auto 20px auto;
	overflow: hidden;
	border-top: 0;
	background-color: #fff;
	border-radius: 8px;
}

.featured-project-card .project-details .project-description {
    padding: 0px 15px;
    margin: 5px 0px;
}

.featured-project-card .project-details .project-name {
	background-color: #F5F6F7;
	font-weight: bold;
	padding: 10px 15px;
}

.featured-project-card .project-details .project-name:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #ecf0f1;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
}
/* Project Cards*/

.project-card {

}
.call-to-action {
	background: #33CCCC;
	text-align: center;
	padding: 60px;
}
.call-to-action h3, button {
	display: inline-block;
	margin-right: 10px;
	color: white;
	background: transparent;
}
.call-to-action h3 {
	font-weight: bold;
}
.call-to-action button {
	border: solid 2px white;
	margin-top: 5px;

}
.call-to-action button:hover {
	color: white;
}
.footer {
    text-align: center;
    background-color: #EEE;
    padding: 60px;
}

.footer-buttons {
	margin-bottom: 25px;
	text-align: center;
}
.footer-buttons .btn-clear {
	background: #EEE;
	color: #444;
	border: solid 1px lightgray;
	margin: 5px;
}

.footer-buttons .btn-clear:focus {
	outline: none;
}

.footer-links {
	list-style: none;
}

.footer-links li {
	display: inline-block;
	margin: 5px;
}

.footer-links li a {
	text-decoration: underline;
	color: #444;
}

.dark-bg {
	background-color: #EEE;
}

#login_pop_up, #signup_pop_up {
    box-sizing: border-box;
    color: rgb(106, 106, 106);
    min-width: 300px;
    position: relative;
    text-align: center;
    width: 300px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box padding-box;
    padding: 20px 10px;
    z-index: 200;
    margin: 15px auto;
    border-radius: 2px;
}

#login_title, #signup_title {
    text-align: center;
    line-height: 1.34em;
    color: rgba(51,204,204,1);
    font-size: 20px;
    margin-top: 0;
}

.facebook_btn_text {
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 1px;
    text-align: right;
    text-transform: uppercase;
    margin-top: 8px;
    display: block;
    margin-right: 20px;
}

.divider {
    text-align: center;
    position: relative;
}
.i-modal .modal-content.auth-modal .divider {
    text-align: center;
    position: relative;
}
.i-modal .sign-up-with-email {
    color: #a8a8a8;
}

.divider .divider-line:after {
    border-top: 1px solid #ddd;
    display: block;
    height: 1px;
    content: " ";
    width: 20%;
    position: absolute;
    left: 0;
    top: 10px;
}

.divider-line:after {
    right: 0;
    left: auto;
}


#facebook-btn {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 40px;
    letter-spacing: 1px;
    min-height: 40px;
    position: relative;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(64, 93, 157) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(64, 93, 157);
    border-radius: 2px 2px 2px 2px;
    margin: 0px 0px 12px;
}


.submit_login_btn {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 45px;
    letter-spacing: 1px;
    min-height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background: rgba(51,204,204,1);
    border: none;
    border-radius: 2px 2px 2px 2px;
    margin: 10px 0px;
    font-size: 14px;
}

.login_input {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    font-size: 14px;
}

.newsletter_check {
	float: left;
}

.popup {
	display: none;
	background-color: rgba(0,0,0,0.85);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}

.small-font {
	font-size: 12px;
}

#facebook-btn i {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}

.popup_exit {
    text-align: right;
    font-size: 30px;
    cursor: pointer;
}

.remember_me {
	float: left;
}

.forgot_pass {
	float: right;
}

.aside {
	z-index: 8000;
	position: fixed;
	left: -50%;
	top:5%;
	width: 50%;
	background: #efefef;
	border: solid 1px #ccc;
}

.aside > * {
	/*display: inline-block;*/
}

.social-gathering {
	padding: 10px;
	color: #aaa
}

.social-gathering h1,
.social-gathering h5 {
	font-weight: bolder;
	margin: 0;
	padding: 0;
}

.social-gathering h1 {
	color: #666666;
}
.social-gathering h5 {
	margin-bottom: 10px;
}

.social-gathering-btn {
	position: absolute;
	right: -92px;
	top: 35%;
	background: rgba(27, 24, 63, 0.7);
	transform: rotate(-90deg);
	padding:5px;
	text-align: center;

}

.social-gathering-btn h5,
.social-gathering-btn h6 {
	font-size: 1.2em;
	font-weight: bolder;
	padding: 0;
	margin:0;
	text-transform: uppercase;
	color: #fff;
}

.social-gathering-btn h5 {
	color: #33CB33;
}
.cape-content {
	margin-bottom: 25px;
}
.cape-content .content-wrapper {
	background: #fff;
	padding: 20px;
}

.cape-content .content-footer {
	padding: 20px;
}
.cape-content .content-footer > div {
	display: inline-block;
}

.btn-clear.facebook {
	background: #3A5897;
}

.btn-clear.twitter {
	background: #00ABED;
}

.btn-clear.linkedin {
	background: #007AB6;
}

.cape-content .content-footer .tags {
	float: right;
}

.cape-content .content-footer .tags li {
	display: inline-block;
	padding: 10px;
	margin-left: 10px;
	background: #fff;
	border-radius: 5px;
}


.cape-content .img-left {
	float:left;
	margin:15px 15px 15px 0px;
}

.cape-content .img-right {
	float: right;
	margin: 15px 0 15px 15px;
}

/* Custom dropdown menu colour*/

#header-1 .main-nav .nav .dropdown-menu
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    border: none;
    text-transform: none;
    min-width: 230px;
    background: #FFF;
}

#header-1 .main-nav .navbar-nav > li a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #9B9B9B;
}

#header-1 .main-nav .nav .dropdown-menu a
{
    padding: 8px 20px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    color: #9b9b9b;
}

#header-1 .main-nav .nav .dropdown-menu a:hover
{
    color: #555;
    background: #ddd;
}

/* Correction to position of mobile hamburger menu*/

#header-1 .main-nav .navbar-toggle
{
    top: 8px;
}

.search
{
    position: relative;
    color: #fff;
    font-size: 18px;
}

.search input
{
    width: 160px;
    height: 20px;
    background: #000;
    border: 0px solid #aaa;
}



.search .fa-search
{
    position: absolute;
    left: 10px;
}

.search .fa-search
{
    position: absolute;
    top: 18px;
    left: 10px;
}

.search input
{
    text-indent: 32px;
}

.navbar-form
{
    margin-top: 8px;
}

@media (max-width: 767px)
{
@media (max-width: 767px)
{
    #header-1 .navbar-collapse
    {
        border-top: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        top: 50px;
        position: absolute;
        background: #000;
        z-index: 999;
    }
}

}

.search-query
{
    color: #fff;
    font-size: 15px;
}

.search-query input
{
    width: 100px;
    height: 40px;
    background: #000;
    border: 0px solid #aaa;
}

.search-query input
{
    text-indent: 60px;
}

.search-query .fa-search
{
    position: absolute;
    top: 25px;
    left: 10px;
}

.navbar .container
{
    width: auto;
    color: #000000 !important;
}
#header-1 .main-nav .navbar-nav > li
{
    border-left: solid 1px;
    margin-top: 8px;
}
a:hover,a:focus
{
    color: #33cccc;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}