a
  color: rgb(51, 204, 204)

body
  background: #efefef

.main-title
  font-size: 46px

.secondary-title
  font-size: 24px
  font-weight: normal !important
  line-height: 1.42em

.zip-input
  margin: 60px auto
  label
    margin: auto
    font-size: 14px
    letter-spacing: 1px
    text-transform: uppercase
    width: 300px
    background: rgba(0, 0, 0, 0.7)
    border-top-right-radius: 2px
    border-top-left-radius: 2px
    display: block
    padding: 5px 10px
    color: rgb(51, 204, 204)
  input
    width: 300px
    height: 70px
    margin: auto
    border: 0
    text-transform: uppercase
    text-align: center
    font-size: 22px
    line-height: 60px
    padding: 0px
    border-bottom-right-radius: 2px
    border-bottom-left-radius: 2px
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25)
    -moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25)
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25)

.promo-3
  padding: 60px 0 0 0

/* Slider

.ui-slider
  cursor: pointer
  background: green
  width: 50%
  height: 1em
  margin: 0 auto
  border: solid 2px white
  border-radius: 5px
  .ui-slider-handle
    cursor: pointer
    border-radius: 50%
    height: 2em
    width: 2em
    top: -10px
    border: 1px solid black
    background: green
    &:focus
      outline: none

.slider-container >
  div, p
    display: inline-block

#amount
  margin-left: 20px

.slider-container > p > span
  color: white
  font-size: 1.5em
  border: 0
  font-weight: bold

.cards
  i
    color: #31CAC9
  p
    color: white
    font-size: 2em
    font-weight: bold

.spacer
  /*height: 300px;
  background: black
  text-align: center
  display: none
  p
    color: white

.card-descriptions p
  color: #F39C12 !important
  /*font-size: 1.3em;
  font-weight: bold

.carousel
  height: 300px

.carousel-inner
  margin: 0 auto
  width: 70%
  border: solid 15px white

.carousel-control
  &.left, &.right
    background-image: none
    border-radius: 50%
    background-color: white
    color: #eee
    text-shadow: none
    height: 50px
    width: 50px
    padding-top: 10px
    top: 4em
  &.left i, &.right i
    margin: 0 auto

.content-block
  &.content-1-3
    background: #EEE
  &.technologies
    h4
      font-weight: bolder
      font-size: x-large
      color: #333
    i
      border: solid 2px #eee
      border-radius: 15px
      min-width: 60px
      padding: 15px

.featured
  text-align: center
  font-weight: bold
  color: #444
  margin: 30px 0

.square-btn
  background-color: rgba(51, 204, 204, 1)
  padding: 10px 20px
  margin: 30px auto
  text-transform: uppercase
  color: #fff
  display: table

.post-onboard
  display: none

.team-member p
  line-height: 1.38em
  text-align: center

.bottom-card-numbers, .middle-card-info, .middle-card-icons
  padding: 0
  margin: 0
  padding: 5px 15px
  display: table
  width: 100%

.bottom-card-numbers li
  display: inline-block
  width: 33%
  float: left

.middle-card-info li
  display: inline-block
  width: 33%
  float: left
  text-align: center

.card-info-label
  font-weight: bold

.middle-card-icons li
  display: inline-block
  width: 50%
  float: left
  text-align: center

.card-info-miles-block i, .card-info-signup-block span
  float: left

.card-info-miles-block, .card-info-signup-block
  width: 85px
  display: table

.card-info-miles-block
  float: left

.card-info-signup-block
  float: right

.card-info-miles-block span
  margin-top: 5px
  float: right

.card-info-signup-block span
  margin-top: 5px

.orange-icon
  color: orange

.green-icon
  color: #8BC34A

.card-progress
  background-color: rgb(241, 241, 241)
  width: 100%

.card-progress-bar
  background-color: #8BC34A
  height: 10px

.progress-100
  width: 100%

.progress-70
  width: 70%

.team-member.inline
  display: inline-block
  width: 33%

#content-1-3 .team-member
  &:nth-child(3), &:nth-child(6)
    margin-right: 0

#content-2-9
  .team-member
    max-width: 280px
    margin-right: 10px
  .bottom-card-numbers li, .middle-card-info li
    display: inline-block
    width: 50%
    float: left
  h5
    text-align: center

li.team-member-wrap
  float: left
  max-width: 234px
  list-style: none

.center-text
  text-align: center
  margin: 10px 0

.team-details p
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  /* number of lines to show
  line-height: 20px
  /* fallback
  max-height: 40px
  /* fallback

.white-bg
  background-color: #fff
  padding: 35px 0
  p
    max-width: 675px
    text-align: center
    margin: 0 auto

.offset-padding
  padding: 40px 0

.news-card
  margin-bottom: 20px
  overflow: hidden
  border-top: 0
  background-color: #fff
  border-radius: 8px
  p
    padding: 20px 40px
    text-align: center
  .btn
    color: #333
    border: solid 1px #eee

/* Featured Project Cards

.featured-project-card
  max-width: 500px
  margin: 0 auto 20px auto
  overflow: hidden
  border-top: 0
  background-color: #fff
  border-radius: 8px
  .project-details
    .project-description
      padding: 0px 15px
      margin: 5px 0px
    .project-name
      background-color: #F5F6F7
      font-weight: bold
      padding: 10px 15px
      &:before
        content: ""
        width: 100%
        height: 2px
        background-color: #ecf0f1
        display: block
        position: absolute
        bottom: -10px
        left: 0

/* Project Cards

.project-card

.call-to-action
  background: #33CCCC
  text-align: center
  padding: 60px
  h3
    display: inline-block
    margin-right: 10px
    color: white
    background: transparent

button
  display: inline-block
  margin-right: 10px
  color: white
  background: transparent

.call-to-action
  h3
    font-weight: bold
  button
    border: solid 2px white
    margin-top: 5px
    &:hover
      color: white

.footer
  text-align: center
  background-color: #EEE
  padding: 60px

.footer-buttons
  margin-bottom: 25px
  text-align: center
  .btn-clear
    background: #EEE
    color: #444
    border: solid 1px lightgray
    margin: 5px
    &:focus
      outline: none

.footer-links
  list-style: none
  li
    display: inline-block
    margin: 5px
    a
      text-decoration: underline
      color: #444

.dark-bg
  background-color: #EEE

#login_pop_up, #signup_pop_up
  box-sizing: border-box
  color: rgb(106, 106, 106)
  min-width: 300px
  position: relative
  text-align: center
  width: 300px
  background: rgb(245, 245, 245) none repeat scroll 0% (0% / auto) padding-box padding-box
  padding: 20px 10px
  z-index: 200
  margin: 15px auto
  border-radius: 2px

#login_title, #signup_title
  text-align: center
  line-height: 1.34em
  color: rgba(51, 204, 204, 1)
  font-size: 20px
  margin-top: 0

.facebook_btn_text
  color: rgb(255, 255, 255)
  cursor: pointer
  letter-spacing: 1px
  text-align: right
  text-transform: uppercase
  margin-top: 8px
  display: block
  margin-right: 20px

.divider
  text-align: center
  position: relative

.i-modal
  .modal-content.auth-modal .divider
    text-align: center
    position: relative
  .sign-up-with-email
    color: #a8a8a8

.divider .divider-line:after
  border-top: 1px solid #ddd
  display: block
  height: 1px
  content: " "
  width: 20%
  position: absolute
  left: 0
  top: 10px

.divider-line:after
  right: 0
  left: auto

#facebook-btn
  box-sizing: border-box
  color: rgb(255, 255, 255)
  cursor: pointer
  display: block
  height: 40px
  letter-spacing: 1px
  min-height: 40px
  position: relative
  text-align: right
  text-decoration: none
  text-transform: uppercase
  background: rgb(64, 93, 157) none repeat scroll 0% (0% / auto) padding-box border-box
  border: 2px solid rgb(64, 93, 157)
  border-radius: 2px 2px 2px 2px
  margin: 0px 0px 12px

.submit_login_btn
  color: rgb(255, 255, 255)
  cursor: pointer
  height: 45px
  letter-spacing: 1px
  min-height: 40px
  text-align: center
  text-transform: uppercase
  width: 100%
  background: rgba(51, 204, 204, 1)
  border: none
  border-radius: 2px 2px 2px 2px
  margin: 10px 0px
  font-size: 14px

.login_input
  display: block
  border: 1px solid #ccc
  width: 100%
  padding: 10px
  box-sizing: border-box
  margin: 10px 0
  font-size: 14px

.newsletter_check
  float: left

.popup
  display: none
  background-color: rgba(0, 0, 0, 0.85)
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 0
  z-index: 9999

.small-font
  font-size: 12px

#facebook-btn i
  float: left
  margin-top: 10px
  margin-left: 20px
  font-size: 18px

.popup_exit
  text-align: right
  font-size: 30px
  cursor: pointer

.remember_me
  float: left

.forgot_pass
  float: right

.aside
  z-index: 8000
  position: fixed
  left: -50%
  top: 5%
  width: 50%
  background: #efefef
  border: solid 1px #ccc
  > *
    /*display: inline-block;

.social-gathering
  padding: 10px
  color: #aaa
  h1, h5
    font-weight: bolder
    margin: 0
    padding: 0
  h1
    color: #666666
  h5
    margin-bottom: 10px

.social-gathering-btn
  position: absolute
  right: -92px
  top: 35%
  background: rgba(27, 24, 63, 0.7)
  transform: rotate(-90deg)
  padding: 5px
  text-align: center
  h5, h6
    font-size: 1.2em
    font-weight: bolder
    padding: 0
    margin: 0
    text-transform: uppercase
    color: #fff
  h5
    color: #33CB33

.cape-content
  margin-bottom: 25px
  .content-wrapper
    background: #fff
    padding: 20px
  .content-footer
    padding: 20px
    > div
      display: inline-block

.btn-clear
  &.facebook
    background: #3A5897
  &.twitter
    background: #00ABED
  &.linkedin
    background: #007AB6

.cape-content
  .content-footer .tags
    float: right
    li
      display: inline-block
      padding: 10px
      margin-left: 10px
      background: #fff
      border-radius: 5px
  .img-left
    float: left
    margin: 15px 15px 15px 0px
  .img-right
    float: right
    margin: 15px 0 15px 15px

/* Custom dropdown menu colour

#header-1 .main-nav
  .nav .dropdown-menu
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    -ms-border-radius: 4px
    -o-border-radius: 4px
    border-radius: 4px
    -moz-background-clip: padding
    -webkit-background-clip: padding-box
    background-clip: padding-box
    margin: 0
    border: none
    text-transform: none
    min-width: 230px
    background: #FFF
  .navbar-nav > li a
    font-family: 'Lato', sans-serif
    font-weight: 700
    text-transform: uppercase
    font-size: 15px
    color: #9B9B9B
  .nav .dropdown-menu a
    padding: 8px 20px
    -webkit-opacity: 1
    -moz-opacity: 1
    opacity: 1
    color: #9b9b9b
    &:hover
      color: #555
      background: #ddd
  .navbar-toggle
    top: 8px

/* Correction to position of mobile hamburger menu

.search
  position: relative
  color: #fff
  font-size: 18px
  input
    width: 160px
    height: 20px
    background: #000
    border: 0px solid #aaa
  .fa-search
    position: absolute
    left: 10px
    position: absolute
    top: 18px
    left: 10px
  input
    text-indent: 32px

.navbar-form
  margin-top: 8px

@media (max-width: 767px)
  @media (max-width: 767px)
    #header-1 .navbar-collapse
      border-top: none
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
      width: 100%
      top: 50px
      position: absolute
      background: #000
      z-index: 999

.search-query
  color: #fff
  font-size: 15px
  input
    width: 100px
    height: 40px
    background: #000
    border: 0px solid #aaa
    text-indent: 60px
  .fa-search
    position: absolute
    top: 25px
    left: 10px

.navbar .container
  width: auto
  color: #000000 !important

#header-1 .main-nav .navbar-nav > li
  border-left: solid 1px
  margin-top: 8px

a
  &:hover, &:focus
    color: #33cccc

.center-block
  display: block
  margin-left: auto
  margin-right: auto