@color_1: rgb(51,204,204);
@color_2: white;
@color_3: #31CAC9;
@color_4: #F39C12;
@color_5: #eee;
@color_6: #333;
@color_7: #444;
@color_8: #fff;
@color_9: orange;
@color_10: #8BC34A;
@color_11: rgb(106, 106, 106);
@color_12: rgba(51,204,204,1);
@color_13: rgb(255, 255, 255);
@color_14: #a8a8a8;
@color_15: #aaa;
@color_16: #666666;
@color_17: #33CB33;
@color_18: #9B9B9B;
@color_19: #9b9b9b;
@color_20: #555;
@color_21: #000000;
@color_22: #33cccc;
@font-family_1: 'Lato', sans-serif;

/* Slider */
/* Featured Project Cards */
/* Project Cards*/
/* Custom dropdown menu colour*/
/* Correction to position of mobile hamburger menu*/
a {
	color: @color_1;
	&:hover {
		color: @color_22;
	}
	&:focus {
		color: @color_22;
	}
}
body {
	background: #efefef;
}
.main-title {
	font-size: 46px;
}
.secondary-title {
	font-size: 24px;
	font-weight: normal !important;
	line-height: 1.42em;
}
.zip-input {
	margin: 60px auto;
	label {
		margin: auto;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		width: 300px;
		background: rgba(0,0,0,0.7);
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		display: block;
		padding: 5px 10px;
		color: @color_1;
	}
	input {
		width: 300px;
		height: 70px;
		margin: auto;
		border: 0;
		text-transform: uppercase;
		text-align: center;
		font-size: 22px;
		line-height: 60px;
		padding: 0px;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		-webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .25);
		-moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .25);
		box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .25);
	}
}
.promo-3 {
	padding: 60px 0 0 0;
}
.ui-slider {
	cursor: pointer;
	background: green;
	width: 50%;
	height: 1em;
	margin: 0 auto;
	border: solid 2px white;
	border-radius: 5px;
	.ui-slider-handle {
		cursor: pointer;
		border-radius: 50%;
		height: 2em;
		width: 2em;
		top: -10px;
		border: 1px solid black;
		background: green;
		&:focus {
			outline: none;
		}
	}
}
.slider-container {
	>div {
		display: inline-block;
	}
	>p {
		display: inline-block;
		>span {
			color: @color_2;
			font-size: 1.5em;
			border: 0;
			font-weight: bold;
		}
	}
}
#amount {
	margin-left: 20px;
}
.cards {
	i {
		color: @color_3;
	}
	p {
		color: @color_2;
		font-size: 2em;
		font-weight: bold;
	}
}
.spacer {
	background: black;
	text-align: center;
	display: none;
	p {
		color: @color_2;
	}
}
.card-descriptions {
	p {
		color: @color_4 !important;
		font-weight: bold;
	}
}
.carousel {
	height: 300px;
}
.carousel-inner {
	margin: 0 auto;
	width: 70%;
	border: solid 15px white;
}
.carousel-control.left {
	background-image: none;
	border-radius: 50%;
	background-color: white;
	color: @color_5;
	text-shadow: none;
	height: 50px;
	width: 50px;
	padding-top: 10px;
	top: 4em;
	i {
		margin: 0 auto;
	}
}
.carousel-control.right {
	background-image: none;
	border-radius: 50%;
	background-color: white;
	color: @color_5;
	text-shadow: none;
	height: 50px;
	width: 50px;
	padding-top: 10px;
	top: 4em;
	i {
		margin: 0 auto;
	}
}
.content-block.content-1-3 {
	background: #EEE;
}
.content-block.technologies {
	h4 {
		font-weight: bolder;
		font-size: x-large;
		color: @color_6;
	}
	i {
		border: solid 2px #eee;
		border-radius: 15px;
		min-width: 60px;
		padding: 15px;
	}
}
.featured {
	text-align: center;
	font-weight: bold;
	color: @color_7;
	margin: 30px 0;
}
.square-btn {
	background-color: rgba(51,204,204,1);
	padding: 10px 20px;
	margin: 30px auto;
	text-transform: uppercase;
	color: @color_8;
	display: table;
}
.post-onboard {
	display: none;
}
.team-member {
	p {
		line-height: 1.38em;
		text-align: center;
	}
}
.bottom-card-numbers {
	padding: 0;
	margin: 0;
	padding: 5px 15px;
	display: table;
	width: 100%;
	li {
		display: inline-block;
		width: 33%;
		float: left;
	}
}
.middle-card-info {
	padding: 0;
	margin: 0;
	padding: 5px 15px;
	display: table;
	width: 100%;
	li {
		display: inline-block;
		width: 33%;
		float: left;
		text-align: center;
	}
}
.middle-card-icons {
	padding: 0;
	margin: 0;
	padding: 5px 15px;
	display: table;
	width: 100%;
	li {
		display: inline-block;
		width: 50%;
		float: left;
		text-align: center;
	}
}
.card-info-label {
	font-weight: bold;
}
.card-info-miles-block {
	i {
		float: left;
	}
	width: 85px;
	display: table;
	float: left;
	span {
		margin-top: 5px;
		float: right;
	}
}
.card-info-signup-block {
	span {
		float: left;
		margin-top: 5px;
	}
	width: 85px;
	display: table;
	float: right;
}
.orange-icon {
	color: @color_9;
}
.green-icon {
	color: @color_10;
}
.card-progress {
	background-color: rgb(241, 241, 241);
	width: 100%;
}
.card-progress-bar {
	background-color: #8BC34A;
	height: 10px;
}
.progress-100 {
	width: 100%;
}
.progress-70 {
	width: 70%;
}
.team-member.inline {
	display: inline-block;
	width: 33%;
}
#content-1-3 {
	.team-member {
		&:nth-child(3) {
			margin-right: 0;
		}
		&:nth-child(6) {
			margin-right: 0;
		}
	}
}
#content-2-9 {
	.team-member {
		max-width: 280px;
		margin-right: 10px;
	}
	.bottom-card-numbers {
		li {
			display: inline-block;
			width: 50%;
			float: left;
		}
	}
	.middle-card-info {
		li {
			display: inline-block;
			width: 50%;
			float: left;
		}
	}
	h5 {
		text-align: center;
	}
}
li.team-member-wrap {
	float: left;
	max-width: 234px;
	list-style: none;
}
.center-text {
	text-align: center;
	margin: 10px 0;
}
.team-details {
	p {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-height: 20px;
		max-height: 40px;
	}
}
.white-bg {
	background-color: #fff;
	padding: 35px 0;
	p {
		max-width: 675px;
		text-align: center;
		margin: 0 auto;
	}
}
.offset-padding {
	padding: 40px 0;
}
.news-card {
	margin-bottom: 20px;
	overflow: hidden;
	border-top: 0;
	background-color: #fff;
	border-radius: 8px;
	p {
		padding: 20px 40px;
		text-align: center;
	}
	.btn {
		color: @color_6;
		border: solid 1px #eee;
	}
}
.featured-project-card {
	max-width: 500px;
	margin: 0 auto 20px auto;
	overflow: hidden;
	border-top: 0;
	background-color: #fff;
	border-radius: 8px;
	.project-details {
		.project-description {
			padding: 0px 15px;
			margin: 5px 0px;
		}
		.project-name {
			background-color: #F5F6F7;
			font-weight: bold;
			padding: 10px 15px;
			&:before {
				content: "";
				width: 100%;
				height: 2px;
				background-color: #ecf0f1;
				display: block;
				position: absolute;
				bottom: -10px;
				left: 0;
			}
		}
	}
}
.call-to-action {
	background: #33CCCC;
	text-align: center;
	padding: 60px;
	h3 {
		display: inline-block;
		margin-right: 10px;
		color: @color_2;
		background: transparent;
		font-weight: bold;
	}
	button {
		border: solid 2px white;
		margin-top: 5px;
		&:hover {
			color: @color_2;
		}
	}
}
button {
	display: inline-block;
	margin-right: 10px;
	color: @color_2;
	background: transparent;
}
.footer {
	text-align: center;
	background-color: #EEE;
	padding: 60px;
}
.footer-buttons {
	margin-bottom: 25px;
	text-align: center;
	.btn-clear {
		background: #EEE;
		color: @color_7;
		border: solid 1px lightgray;
		margin: 5px;
		&:focus {
			outline: none;
		}
	}
}
.footer-links {
	list-style: none;
	li {
		display: inline-block;
		margin: 5px;
		a {
			text-decoration: underline;
			color: @color_7;
		}
	}
}
.dark-bg {
	background-color: #EEE;
}
#login_pop_up {
	box-sizing: border-box;
	color: @color_11;
	min-width: 300px;
	position: relative;
	text-align: center;
	width: 300px;
	background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box padding-box;
	padding: 20px 10px;
	z-index: 200;
	margin: 15px auto;
	border-radius: 2px;
}
#signup_pop_up {
	box-sizing: border-box;
	color: @color_11;
	min-width: 300px;
	position: relative;
	text-align: center;
	width: 300px;
	background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box padding-box;
	padding: 20px 10px;
	z-index: 200;
	margin: 15px auto;
	border-radius: 2px;
}
#login_title {
	text-align: center;
	line-height: 1.34em;
	color: @color_12;
	font-size: 20px;
	margin-top: 0;
}
#signup_title {
	text-align: center;
	line-height: 1.34em;
	color: @color_12;
	font-size: 20px;
	margin-top: 0;
}
.facebook_btn_text {
	color: @color_13;
	cursor: pointer;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
	margin-top: 8px;
	display: block;
	margin-right: 20px;
}
.divider {
	text-align: center;
	position: relative;
	.divider-line {
		&:after {
			border-top: 1px solid #ddd;
			display: block;
			height: 1px;
			content: " ";
			width: 20%;
			position: absolute;
			left: 0;
			top: 10px;
		}
	}
}
.i-modal {
	.modal-content.auth-modal {
		.divider {
			text-align: center;
			position: relative;
		}
	}
	.sign-up-with-email {
		color: @color_14;
	}
}
.divider-line {
	&:after {
		right: 0;
		left: auto;
	}
}
#facebook-btn {
	box-sizing: border-box;
	color: @color_13;
	cursor: pointer;
	display: block;
	height: 40px;
	letter-spacing: 1px;
	min-height: 40px;
	position: relative;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	background: rgb(64, 93, 157) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 2px solid rgb(64, 93, 157);
	border-radius: 2px 2px 2px 2px;
	margin: 0px 0px 12px;
	i {
		float: left;
		margin-top: 10px;
		margin-left: 20px;
		font-size: 18px;
	}
}
.submit_login_btn {
	color: @color_13;
	cursor: pointer;
	height: 45px;
	letter-spacing: 1px;
	min-height: 40px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	background: rgba(51,204,204,1);
	border: none;
	border-radius: 2px 2px 2px 2px;
	margin: 10px 0px;
	font-size: 14px;
}
.login_input {
	display: block;
	border: 1px solid #ccc;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin: 10px 0;
	font-size: 14px;
}
.newsletter_check {
	float: left;
}
.popup {
	display: none;
	background-color: rgba(0,0,0,0.85);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}
.small-font {
	font-size: 12px;
}
.popup_exit {
	text-align: right;
	font-size: 30px;
	cursor: pointer;
}
.remember_me {
	float: left;
}
.forgot_pass {
	float: right;
}
.aside {
	z-index: 8000;
	position: fixed;
	left: -50%;
	top: 5%;
	width: 50%;
	background: #efefef;
	border: solid 1px #ccc;
}
.social-gathering {
	padding: 10px;
	color: @color_15;
	h1 {
		font-weight: bolder;
		margin: 0;
		padding: 0;
		color: @color_16;
	}
	h5 {
		font-weight: bolder;
		margin: 0;
		padding: 0;
		margin-bottom: 10px;
	}
}
.social-gathering-btn {
	position: absolute;
	right: -92px;
	top: 35%;
	background: rgba(27, 24, 63, 0.7);
	transform: rotate(-90deg);
	padding: 5px;
	text-align: center;
	h5 {
		font-size: 1.2em;
		font-weight: bolder;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		color: @color_8;
		color: @color_17;
	}
	h6 {
		font-size: 1.2em;
		font-weight: bolder;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		color: @color_8;
	}
}
.cape-content {
	margin-bottom: 25px;
	.content-wrapper {
		background: #fff;
		padding: 20px;
	}
	.content-footer {
		padding: 20px;
		>div {
			display: inline-block;
		}
		.tags {
			float: right;
			li {
				display: inline-block;
				padding: 10px;
				margin-left: 10px;
				background: #fff;
				border-radius: 5px;
			}
		}
	}
	.img-left {
		float: left;
		margin: 15px 15px 15px 0px;
	}
	.img-right {
		float: right;
		margin: 15px 0 15px 15px;
	}
}
.btn-clear.facebook {
	background: #3A5897;
}
.btn-clear.twitter {
	background: #00ABED;
}
.btn-clear.linkedin {
	background: #007AB6;
}
#header-1 {
	.main-nav {
		.nav {
			.dropdown-menu {
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-ms-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;
				-moz-background-clip: padding;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				margin: 0;
				border: none;
				text-transform: none;
				min-width: 230px;
				background: #FFF;
				a {
					padding: 8px 20px;
					-webkit-opacity: 1;
					-moz-opacity: 1;
					opacity: 1;
					color: @color_19;
					&:hover {
						color: @color_20;
						background: #ddd;
					}
				}
			}
		}
		.navbar-nav {
			>li {
				a {
					font-family: @font-family_1;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 15px;
					color: @color_18;
				}
				border-left: solid 1px;
				margin-top: 8px;
			}
		}
		.navbar-toggle {
			top: 8px;
		}
	}
}
.search {
	position: relative;
	color: @color_8;
	font-size: 18px;
	input {
		width: 160px;
		height: 20px;
		background: #000;
		border: 0px solid #aaa;
		text-indent: 32px;
	}
	.fa-search {
		position: absolute;
		left: 10px;
		position: absolute;
		top: 18px;
		left: 10px;
	}
}
.navbar-form {
	margin-top: 8px;
}
} {
	.search-query {
		color: @color_8;
		font-size: 15px;
	}
}
.search-query {
	input {
		width: 100px;
		height: 40px;
		background: #000;
		border: 0px solid #aaa;
		text-indent: 60px;
	}
	.fa-search {
		position: absolute;
		top: 25px;
		left: 10px;
	}
}
.navbar {
	.container {
		width: auto;
		color: @color_21 !important;
	}
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 767px) {
	@media {
		(max-width: {
			767px) {
				#header-1 .navbar-collapse { border-top: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				width: 100%;
				top: 50px;
				position: absolute;
				background: #000;
				z-index: 999;
			}
		}
	}
}
