@color_1: #CCC;
@color_2: #FFF;
@color_3: #333;
@color_4: #BDBDBD;
@color_5: #F3F3F3;
@font-family_1: Arial, Baskerville, monospace;

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
/* display none until init */
/* mouse grab icon */
/* fix */
/*
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 */
/* fade */
/* backSlide */
/* goDown */
/* scaleUp */
/* Keyframes */
/*empty*/
@-webkit-keyframes "empty" {
	0% {
		opacity: 1;
	}
}
@-moz-keyframes "empty" {
	0% {
		opacity: 1;
	}
}
@keyframes "empty" {
	0% {
		opacity: 1;
	}
}
@-webkit-keyframes "fadeIn" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes "fadeIn" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes "fadeIn" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes "fadeOut" {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes "fadeOut" {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes "fadeOut" {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes "backSlideOut" {
	25% {
		opacity: .5;
		-webkit-transform: translateZ(-500px);
	}
	75% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
	}
	100% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
	}
}
@-moz-keyframes "backSlideOut" {
	25% {
		opacity: .5;
		-moz-transform: translateZ(-500px);
	}
	75% {
		opacity: .5;
		-moz-transform: translateZ(-500px) translateX(-200%);
	}
	100% {
		opacity: .5;
		-moz-transform: translateZ(-500px) translateX(-200%);
	}
}
@keyframes "backSlideOut" {
	25% {
		opacity: .5;
		transform: translateZ(-500px);
	}
	75% {
		opacity: .5;
		transform: translateZ(-500px) translateX(-200%);
	}
	100% {
		opacity: .5;
		transform: translateZ(-500px) translateX(-200%);
	}
}
@-webkit-keyframes "backSlideIn" {
	0%,25% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(200%);
	}
	75% {
		opacity: .5;
		-webkit-transform: translateZ(-500px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0) translateX(0);
	}
}
@-moz-keyframes "backSlideIn" {
	0%,25% {
		opacity: .5;
		-moz-transform: translateZ(-500px) translateX(200%);
	}
	75% {
		opacity: .5;
		-moz-transform: translateZ(-500px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateZ(0) translateX(0);
	}
}
@keyframes "backSlideIn" {
	0%,25% {
		opacity: .5;
		transform: translateZ(-500px) translateX(200%);
	}
	75% {
		opacity: .5;
		transform: translateZ(-500px);
	}
	100% {
		opacity: 1;
		transform: translateZ(0) translateX(0);
	}
}
@-webkit-keyframes "scaleToFade" {
	to {
		opacity: 0;
		-webkit-transform: scale(.8);
	}
}
@-moz-keyframes "scaleToFade" {
	to {
		opacity: 0;
		-moz-transform: scale(.8);
	}
}
@keyframes "scaleToFade" {
	to {
		opacity: 0;
		transform: scale(.8);
	}
}
@-webkit-keyframes "goDown" {
	from {
		-webkit-transform: translateY(-100%);
	}
}
@-moz-keyframes "goDown" {
	from {
		-moz-transform: translateY(-100%);
	}
}
@keyframes "goDown" {
	from {
		transform: translateY(-100%);
	}
}
@-webkit-keyframes "scaleUpFrom" {
	from {
		opacity: 0;
		-webkit-transform: scale(1.5);
	}
}
@-moz-keyframes "scaleUpFrom" {
	from {
		opacity: 0;
		-moz-transform: scale(1.5);
	}
}
@keyframes "scaleUpFrom" {
	from {
		opacity: 0;
		transform: scale(1.5);
	}
}
@-webkit-keyframes "scaleUpTo" {
	to {
		opacity: 0;
		-webkit-transform: scale(1.5);
	}
}
@-moz-keyframes "scaleUpTo" {
	to {
		opacity: 0;
		-moz-transform: scale(1.5);
	}
}
@keyframes "scaleUpTo" {
	to {
		opacity: 0;
		transform: scale(1.5);
	}
}
/* Magnific Popup CSS */
/* Main image in popup */
/* The shadow behind the image */
/**
         * Remove all paddings around the image on small screen
         */
.owl-carousel {
	.owl-wrapper {
		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
		display: none;
		position: relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
	}
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
	.owl-wrapper-outer {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.owl-wrapper-outer.autoHeight {
		-webkit-transition: height 500ms ease-in-out;
		-moz-transition: height 500ms ease-in-out;
		-ms-transition: height 500ms ease-in-out;
		-o-transition: height 500ms ease-in-out;
		transition: height 500ms ease-in-out;
	}
	.owl-item {
		float: left;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
	}
}
.owl-controls {
	.owl-page {
		cursor: pointer;
	}
	.owl-buttons {
		div {
			cursor: pointer;
		}
	}
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing {
	cursor: url(grabbing.png) 8 8, move;
}
.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x: 50%;
	-webkit-perspective-origin-y: 50%;
	-moz-perspective: 1200px;
	-moz-perspective-origin-x: 50%;
	-moz-perspective-origin-y: 50%;
	perspective: 1200px;
}
.owl-fade-out {
	z-index: 10;
	-webkit-animation: fadeOut .7s both ease;
	-moz-animation: fadeOut .7s both ease;
	animation: fadeOut .7s both ease;
}
.owl-fade-in {
	-webkit-animation: fadeIn .7s both ease;
	-moz-animation: fadeIn .7s both ease;
	animation: fadeIn .7s both ease;
}
.owl-backSlide-out {
	-webkit-animation: backSlideOut 1s both ease;
	-moz-animation: backSlideOut 1s both ease;
	animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
	-webkit-animation: backSlideIn 1s both ease;
	-moz-animation: backSlideIn 1s both ease;
	animation: backSlideIn 1s both ease;
}
.owl-goDown-out {
	-webkit-animation: scaleToFade .7s ease both;
	-moz-animation: scaleToFade .7s ease both;
	animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
	-webkit-animation: goDown .6s ease both;
	-moz-animation: goDown .6s ease both;
	animation: goDown .6s ease both;
}
.owl-fadeUp-in {
	-webkit-animation: scaleUpFrom .5s ease both;
	-moz-animation: scaleUpFrom .5s ease both;
	animation: scaleUpFrom .5s ease both;
}
.owl-fadeUp-out {
	-webkit-animation: scaleUpTo .5s ease both;
	-moz-animation: scaleUpTo .5s ease both;
	animation: scaleUpTo .5s ease both;
}
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden;
}
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}
.mfp-align-top {
	.mfp-container {
		&:before {
			display: none;
		}
	}
}
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045;
}
.mfp-inline-holder {
	.mfp-content {
		width: 100%;
		cursor: auto;
	}
}
.mfp-ajax-holder {
	.mfp-content {
		width: 100%;
		cursor: auto;
	}
}
.mfp-ajax-cur {
	cursor: progress;
}
.mfp-zoom-out-cur {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
	.mfp-image-holder {
		.mfp-close {
			cursor: -moz-zoom-out;
			cursor: -webkit-zoom-out;
			cursor: zoom-out;
		}
	}
}
.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-auto-cursor {
	.mfp-content {
		cursor: auto;
	}
}
.mfp-close {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	filter: alpha(opacity=65);
	padding: 0 0 18px 10px;
	color: @color_2;
	font-style: normal;
	font-size: 28px;
	font-family: @font-family_1;
	&:hover {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	&:focus {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	&:active {
		top: 1px;
	}
}
.mfp-arrow {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	position: absolute;
	opacity: 0.65;
	filter: alpha(opacity=65);
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:active {
		margin-top: -54px;
	}
	&:hover {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	&:focus {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 35px;
		margin-left: 35px;
		border: medium inset transparent;
		border-top-width: 21px;
		border-bottom-width: 21px;
		opacity: 0.7;
	}
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 35px;
		margin-left: 35px;
		border: medium inset transparent;
		border-top-width: 13px;
		border-bottom-width: 13px;
		top: 8px;
	}
	.mfp-b {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 35px;
		margin-left: 35px;
		border: medium inset transparent;
		border-top-width: 21px;
		border-bottom-width: 21px;
		opacity: 0.7;
	}
	.mfp-a {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 35px;
		margin-left: 35px;
		border: medium inset transparent;
		border-top-width: 13px;
		border-bottom-width: 13px;
		top: 8px;
	}
}
.mfp-preloader {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: @color_1;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044;
	a {
		color: @color_1;
		&:hover {
			color: @color_2;
		}
	}
}
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	position: absolute;
	top: 0;
	right: 0;
	color: @color_1;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap;
}
.mfp-loading.mfp-figure {
	display: none;
}
.mfp-hide {
	display: none !important;
}
.mfp-s-ready {
	.mfp-preloader {
		display: none;
	}
}
.mfp-s-error {
	.mfp-content {
		display: none;
	}
}
button.mfp-close {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	-webkit-box-shadow: none;
	box-shadow: none;
}
button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	-webkit-box-shadow: none;
	box-shadow: none;
}
button {
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}
.mfp-close-btn-in {
	.mfp-close {
		color: @color_3;
	}
}
.mfp-image-holder {
	.mfp-close {
		color: @color_2;
		right: -6px;
		text-align: right;
		padding-right: 6px;
		width: 100%;
	}
	.mfp-content {
		max-width: 100%;
	}
}
.mfp-iframe-holder {
	.mfp-close {
		color: @color_2;
		right: -6px;
		text-align: right;
		padding-right: 6px;
		width: 100%;
		top: -40px;
	}
	padding-top: 40px;
	padding-bottom: 40px;
	.mfp-content {
		line-height: 0;
		width: 100%;
		max-width: 900px;
	}
}
.mfp-arrow-left {
	left: 0;
	&:after {
		border-right: 17px solid #FFF;
		margin-left: 31px;
	}
	.mfp-a {
		border-right: 17px solid #FFF;
		margin-left: 31px;
	}
	&:before {
		margin-left: 25px;
		border-right: 27px solid #3F3F3F;
	}
	.mfp-b {
		margin-left: 25px;
		border-right: 27px solid #3F3F3F;
	}
}
.mfp-arrow-right {
	right: 0;
	&:after {
		border-left: 17px solid #FFF;
		margin-left: 39px;
	}
	.mfp-a {
		border-left: 17px solid #FFF;
		margin-left: 39px;
	}
	&:before {
		border-left: 27px solid #3F3F3F;
	}
	.mfp-b {
		border-left: 27px solid #3F3F3F;
	}
}
.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
	iframe {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
		background: #000;
	}
}
img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 0 40px;
	margin: 0 auto;
}
.mfp-figure {
	line-height: 0;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 40px;
		bottom: 40px;
		display: block;
		right: 0;
		width: auto;
		height: auto;
		z-index: -1;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
		background: #444;
	}
	small {
		color: @color_4;
		display: block;
		font-size: 12px;
		line-height: 14px;
	}
	figure {
		margin: 0;
	}
}
.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto;
}
.mfp-title {
	text-align: left;
	line-height: 18px;
	color: @color_5;
	word-wrap: break-word;
	padding-right: 36px;
}
.mfp-gallery {
	.mfp-image-holder {
		.mfp-figure {
			cursor: pointer;
		}
	}
}
.mfp-ie7 {
	.mfp-img {
		padding: 0;
	}
	.mfp-bottom-bar {
		width: 600px;
		left: 50%;
		margin-left: -300px;
		margin-top: 5px;
		padding-bottom: 5px;
	}
	.mfp-container {
		padding: 0;
	}
	.mfp-content {
		padding-top: 44px;
	}
	.mfp-close {
		top: 0;
		right: 0;
		padding-top: 0;
	}
}
@media screen and (max-width: 800px) and (orientation: landscape) {
	.mfp-img-mobile {
		.mfp-image-holder {
			padding-left: 0;
			padding-right: 0;
		}
		img.mfp-img {
			padding: 0;
		}
		.mfp-figure {
			&:after {
				top: 0;
				bottom: 0;
			}
			small {
				display: inline;
				margin-left: 5px;
			}
		}
		.mfp-bottom-bar {
			background: rgba(0, 0, 0, 0.6);
			bottom: 0;
			margin: 0;
			top: auto;
			padding: 3px 5px;
			position: fixed;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			&:empty {
				padding: 0;
			}
		}
		.mfp-counter {
			right: 5px;
			top: 3px;
		}
		.mfp-close {
			top: 0;
			right: 0;
			width: 35px;
			height: 35px;
			line-height: 35px;
			background: rgba(0, 0, 0, 0.6);
			position: fixed;
			text-align: center;
			padding: 0;
		}
	}
}
@media screen and (max-height: 300px) {
	.mfp-img-mobile {
		.mfp-image-holder {
			padding-left: 0;
			padding-right: 0;
		}
		img.mfp-img {
			padding: 0;
		}
		.mfp-figure {
			&:after {
				top: 0;
				bottom: 0;
			}
			small {
				display: inline;
				margin-left: 5px;
			}
		}
		.mfp-bottom-bar {
			background: rgba(0, 0, 0, 0.6);
			bottom: 0;
			margin: 0;
			top: auto;
			padding: 3px 5px;
			position: fixed;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			&:empty {
				padding: 0;
			}
		}
		.mfp-counter {
			right: 5px;
			top: 3px;
		}
		.mfp-close {
			top: 0;
			right: 0;
			width: 35px;
			height: 35px;
			line-height: 35px;
			background: rgba(0, 0, 0, 0.6);
			position: fixed;
			text-align: center;
			padding: 0;
		}
	}
}
@media all and (max-width: 815px) {
	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
	}
	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0;
	}
	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%;
	}
	.mfp-container {
		padding-left: 6px;
		padding-right: 6px;
	}
}
