@color_1: #333333;
@color_2: #111111;
@color_3: #FFFFFF;
@color_4: #F5F5F5;
@color_5: #ECF0F1;
@color_6: #BDC3C7;
@color_7: #95A5A6;
@color_8: #7F8C8d;
@color_9: #D1DBBD;
@color_10: #91AA9D;
@color_11: #3E606F;
@color_12: #193441;
@color_13: #1ABC9C;
@color_14: #16A085;
@color_15: #F1C40F;
@color_16: #F39C12;
@color_17: #BF4E19;
@color_18: #AC1C00;
@color_19: #3498DB;
@color_20: #2980B9;
@color_21: #C9D787;
@color_22: #7D8A2E;
@color_23: #D90000;
@color_24: #C0392B;
@color_25: #723147;
@color_26: #31152B;
@color_27: #e5e5e5;
@color_28: #515157;
@color_29: #ff6600;
@color_30: #1abc9c;
@color_31: #16a085;
@color_32: #2c3e50;
@color_33: #95a5a6;
@color_34: #FFF;
@color_35: #999;
@color_36: #ffffff;
@color_37: #666666;
@color_38: #f0f0f0;
@color_39: #333;
@color_40: #34495e;
@color_41: #d5dbdb;
@color_42: #2ecc71;
@color_43: #f1c40f;
@color_44: #e74c3c;
@color_45: #b2bcc5;
@color_46: inherit;
@color_47: #fff;
@color_48: transparent;
@color_49: #737c85;
@font-family_1: "Open Sans", Helvetica, Arial, sans-serif;
@font-family_2: 'Lato', Helvetica, Arial, sans-serif;
@font-family_3: 'fontawesome';
@font-family_4: "fontawesome";

/*
Template Name: Bootstrap Starter Kit - Style Library 1
Description: Business Startup & Prototyping HTML Framework
Author: Theme Spirit
Author URI: http://www.creativemarket.com/theme_spirit

Version: 1.0

*/
/*	PATTERN LIBRARY STYLES
/*----------------------------------------------------*/
/* BACKGROUND COLORS */
/* BG COVER - MTCH */
/* COLORS - MTCH added !important */
/* PADDING, MARGIN & ALIGNMENT */
/** TYPOGRAPHY **/
/* LINKS */
/* LISTS */
/* TITLES */
/* IMAGES */
/*===================================================================================*/
/*	BUTTONS
/*===================================================================================*/
/* Button DISABLED */
/* Button DEFAULT */
/* Button PRIMARY */
/* Button WARNING */
/* Button DANGER */
/* Button SUCCESS */
/* Button DARK */
/* Button INFO */
/* Outline Buttons */
/*===================================================================================*/
/*	SOCIAL ICONS
/*===================================================================================*/
/* FORM CONTROL */
/* FORM - INPUT ICON */
/* FORM - INPUT GROUP */
/*	ACCORDION / TOGGLE */
/* TABS */
/* PAGINATION */
/* PAGER */
/* CONTENT BLOCK HOLDERS */
/*	PATTERN LIBRARY MEDIA QUERIES
/*----------------------------------------------------*/
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
body {
	font-family: @font-family_1;
	color: @color_1;
	background: #ffffff;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.bg-transparent {
	background-color: transparent !important;
}
.bg-black {
	background-color: #111111 !important;
}
.bg-white {
	background-color: #FFFFFF !important;
}
.bg-offwhite {
	background-color: #F5F5F5 !important;
}
.bg-clouds {
	background-color: #ECF0F1 !important;
}
.bg-silver {
	background-color: #BDC3C7 !important;
}
.bg-concrete {
	background-color: #95A5A6 !important;
}
.bg-asbestos {
	background-color: #7F8C8d !important;
}
.bg-tan {
	background-color: #D1DBBD !important;
}
.bg-pewter {
	background-color: #91AA9D !important;
}
.bg-moonlight {
	background-color: #3E606F !important;
}
.bg-deepocean {
	background-color: #193441 !important;
}
.bg-turquoise {
	background-color: #1ABC9C !important;
}
.bg-aqua {
	background-color: #16A085 !important;
}
.bg-sunflower {
	background-color: #F1C40F !important;
}
.bg-orange {
	background-color: #F39C12 !important;
}
.bg-sienna {
	background-color: #BF4E19 !important;
}
.bg-milanored {
	background-color: #AC1C00 !important;
}
.bg-river {
	background-color: #3498DB !important;
}
.bg-marina {
	background-color: #2980B9 !important;
}
.bg-deco {
	background-color: #C9D787 !important;
}
.bg-crete {
	background-color: #7D8A2E !important;
}
.bg-guardsman {
	background-color: #D90000 !important;
}
.bg-pomegranate {
	background-color: #C0392B !important;
}
.bg-finn {
	background-color: #723147 !important;
}
.bg-tamarind {
	background-color: #31152B !important;
}
.bg-transparent-hover {
	&:hover {
		background-color: transparent !important;
	}
}
.bg-black-hover {
	&:hover {
		background-color: #111111 !important;
	}
}
.bg-white-hover {
	&:hover {
		background-color: #FFFFFF !important;
	}
}
.bg-offwhite-hover {
	&:hover {
		background-color: #F5F5F5 !important;
	}
}
.bg-clouds-hover {
	&:hover {
		background-color: #ECF0F1 !important;
	}
}
.bg-silver-hover {
	&:hover {
		background-color: #BDC3C7 !important;
	}
}
.bg-concrete-hover {
	&:hover {
		background-color: #95A5A6 !important;
	}
}
.bg-asbestos-hover {
	&:hover {
		background-color: #7F8C8d !important;
	}
}
.bg-tan-hover {
	&:hover {
		background-color: #D1DBBD !important;
	}
}
.bg-pewter-hover {
	&:hover {
		background-color: #91AA9D !important;
	}
}
.bg-moonlight-hover {
	&:hover {
		background-color: #3E606F !important;
	}
}
.bg-deepocean-hover {
	&:hover {
		background-color: #193441 !important;
	}
}
.bg-turquoise-hover {
	&:hover {
		background-color: #1ABC9C !important;
	}
}
.bg-aqua-hover {
	&:hover {
		background-color: #16A085 !important;
	}
}
.bg-sunflower-hover {
	&:hover {
		background-color: #F1C40F !important;
	}
}
.bg-orange-hover {
	&:hover {
		background-color: #F39C12 !important;
	}
}
.bg-sienna-hover {
	&:hover {
		background-color: #BF4E19 !important;
	}
}
.bg-milanored-hover {
	&:hover {
		background-color: #AC1C00 !important;
	}
}
.bg-river-hover {
	&:hover {
		background-color: #3498DB !important;
	}
}
.bg-marina-hover {
	&:hover {
		background-color: #2980B9 !important;
	}
}
.bg-deco-hover {
	&:hover {
		background-color: #C9D787 !important;
	}
}
.bg-crete-hover {
	&:hover {
		background-color: #7D8A2E !important;
	}
}
.bg-guardsman-hover {
	&:hover {
		background-color: #D90000 !important;
	}
}
.bg-pomegranate-hover {
	&:hover {
		background-color: #C0392B !important;
	}
}
.bg-finn-hover {
	&:hover {
		background-color: #723147 !important;
	}
}
.bg-tamarind-hover {
	&:hover {
		background-color: #31152B !important;
	}
}
.bg-image-cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.black {
	color: @color_2 !important;
}
.white {
	color: @color_3 !important;
}
.offwhite {
	color: @color_4 !important;
}
.clouds {
	color: @color_5 !important;
}
.silver {
	color: @color_6 !important;
}
.concrete {
	color: @color_7 !important;
}
.asbestos {
	color: @color_8 !important;
}
.tan {
	color: @color_9 !important;
}
.pewter {
	color: @color_10 !important;
}
.moonlight {
	color: @color_11 !important;
}
.deepocean {
	color: @color_12 !important;
}
.turquoise {
	color: @color_13 !important;
}
.aqua {
	color: @color_14 !important;
}
.sunflower {
	color: @color_15 !important;
}
.orange {
	color: @color_16 !important;
}
.sienna {
	color: @color_17 !important;
}
.milanored {
	color: @color_18 !important;
}
.river {
	color: @color_19 !important;
}
.marina {
	color: @color_20 !important;
}
.deco {
	color: @color_21 !important;
}
.crete {
	color: @color_22 !important;
}
.guardsman {
	color: @color_23 !important;
}
.pomegranate {
	color: @color_24 !important;
}
.finn {
	color: @color_25 !important;
}
.tamarind {
	color: @color_26 !important;
}
.black-hover {
	&:hover {
		color: @color_2 !important;
	}
}
.white-hover {
	&:hover {
		color: @color_3 !important;
	}
}
.offwhite-hover {
	&:hover {
		color: @color_4 !important;
	}
}
.clouds-hover {
	&:hover {
		color: @color_5 !important;
	}
}
.silver-hover {
	&:hover {
		color: @color_6 !important;
	}
}
.concrete-hover {
	&:hover {
		color: @color_7 !important;
	}
}
.asbestos-hover {
	&:hover {
		color: @color_8 !important;
	}
}
.tan-hover {
	&:hover {
		color: @color_9 !important;
	}
}
.pewter-hover {
	&:hover {
		color: @color_10 !important;
	}
}
.moonlight-hover {
	&:hover {
		color: @color_11 !important;
	}
}
.deepocean-hover {
	&:hover {
		color: @color_12 !important;
	}
}
.turquoise-hover {
	&:hover {
		color: @color_13 !important;
	}
}
.aqua-hover {
	&:hover {
		color: @color_14 !important;
	}
}
.sunflower-hover {
	&:hover {
		color: @color_15 !important;
	}
}
.orange-hover {
	&:hover {
		color: @color_16 !important;
	}
}
.sienna-hover {
	&:hover {
		color: @color_17 !important;
	}
}
.milanored-hover {
	&:hover {
		color: @color_18 !important;
	}
}
.river-hover {
	&:hover {
		color: @color_19 !important;
	}
}
.marina-hover {
	&:hover {
		color: @color_20 !important;
	}
}
.deco-hover {
	&:hover {
		color: @color_21 !important;
	}
}
.crete-hover {
	&:hover {
		color: @color_22 !important;
	}
}
.guardsman-hover {
	&:hover {
		color: @color_23 !important;
	}
}
.pomegranate-hover {
	&:hover {
		color: @color_24 !important;
	}
}
.finn-hover {
	&:hover {
		color: @color_25 !important;
	}
}
.tamarind-hover {
	&:hover {
		color: @color_26 !important;
	}
}
.no-shadow {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
}
.pad0 {
	padding-top: 0px !important;
}
.pad5 {
	padding-top: 5px !important;
}
.pad10 {
	padding-top: 10px !important;
}
.pad15 {
	padding-top: 15px !important;
}
.pad20 {
	padding-top: 20px !important;
}
.pad25 {
	padding-top: 25px !important;
}
.pad30 {
	padding-top: 30px !important;
}
.pad45 {
	padding-top: 45px !important;
}
.pad60 {
	padding-top: 60px !important;
}
.pad90 {
	padding-top: 90px !important;
}
.pad-bottom0 {
	padding-bottom: 0px !important;
}
.pad-bottom5 {
	padding-bottom: 5px !important;
}
.pad-bottom10 {
	padding-bottom: 10px !important;
}
.pad-bottom15 {
	padding-bottom: 15px !important;
}
.pad-bottom20 {
	padding-bottom: 20px !important;
}
.pad-bottom25 {
	padding-bottom: 25px !important;
}
.pad-bottom30 {
	padding-bottom: 30px !important;
}
.pad-bottom45 {
	padding-bottom: 45px !important;
}
.pad-bottom60 {
	padding-bottom: 60px !important;
}
.pad-bottom90 {
	padding-bottom: 90px !important;
}
.margin-bottom0 {
	margin-bottom: 0px !important;
}
.margin-bottom5 {
	margin-bottom: 5px !important;
}
.margin-bottom10 {
	margin-bottom: 10px !important;
}
.margin-bottom15 {
	margin-bottom: 15px !important;
}
.margin-bottom20 {
	margin-bottom: 20px !important;
}
.margin-bottom25 {
	margin-bottom: 25px !important;
}
.margin-bottom30 {
	margin-bottom: 30px !important;
}
.margin-bottom45 {
	margin-bottom: 45px !important;
}
.margin-bottom60 {
	margin-bottom: 60px !important;
}
.margin-bottom90 {
	margin-bottom: 90px !important;
}
.margin-top0 {
	margin-top: 0px !important;
}
.margin-top5 {
	margin-top: 5px !important;
}
.margin-top10 {
	margin-top: 10px !important;
}
.margin-top15 {
	margin-top: 15px !important;
}
.margin-top20 {
	margin-top: 20px !important;
}
.margin-top25 {
	margin-top: 25px !important;
}
.margin-top30 {
	margin-top: 30px !important;
}
.margin-top45 {
	margin-top: 45px !important;
}
.margin-top60 {
	margin-top: 60px !important;
}
.margin-top90 {
	margin-top: 90px !important;
}
.min-height-100px {
	min-height: 100px !important;
}
.min-height-200px {
	min-height: 200px !important;
}
.min-height-300px {
	min-height: 300px !important;
}
.min-height-400px {
	min-height: 400px !important;
}
.min-height-500px {
	min-height: 500px !important;
}
.min-height-600px {
	min-height: 600px !important;
}
.min-height-700px {
	min-height: 700px !important;
}
.min-height-800px {
	min-height: 800px !important;
}
.marg-bottom5 {
	margin-bottom: 5px !important;
}
.marg-left5 {
	margin-left: 5px !important;
}
.marg-right5 {
	margin-right: 5px !important;
}
.but_marg {
	margin-left: 3px !important;
}
.v-center {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
h1 {
	font-family: @font-family_2;
	line-height: 1.1;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 44px;
	small {
		color: @color_27;
	}
	.btn {
		margin-left: 15px;
	}
}
h2 {
	font-family: @font-family_2;
	line-height: 1.1;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 37px;
	small {
		color: @color_27;
	}
	.btn {
		margin-left: 15px;
	}
}
h3 {
	font-family: @font-family_2;
	line-height: 1.1;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 27px;
	small {
		color: @color_27;
	}
	.btn {
		margin-left: 15px;
	}
}
h4 {
	font-family: @font-family_2;
	line-height: 1.1;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 23px;
	small {
		color: @color_27;
	}
	.btn {
		margin-left: 15px;
	}
}
h5 {
	font-family: @font-family_2;
	line-height: 1.1;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 18px;
	small {
		color: @color_27;
	}
}
h6 {
	font-family: @font-family_2;
	line-height: 1.1;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 16px;
	small {
		color: @color_27;
	}
}
.h1 {
	font-family: @font-family_2;
	line-height: 1.1;
	font-size: 44px;
	small {
		color: @color_27;
	}
}
.h2 {
	font-family: @font-family_2;
	line-height: 1.1;
	font-size: 37px;
	small {
		color: @color_27;
	}
}
.h3 {
	font-family: @font-family_2;
	line-height: 1.1;
	font-size: 27px;
	small {
		color: @color_27;
	}
}
.h4 {
	font-family: @font-family_2;
	line-height: 1.1;
	font-size: 23px;
	small {
		color: @color_27;
	}
}
.h5 {
	font-family: @font-family_2;
	line-height: 1.1;
	font-size: 18px;
	small {
		color: @color_27;
	}
}
.h6 {
	font-family: @font-family_2;
	line-height: 1.1;
	font-size: 16px;
	small {
		color: @color_27;
	}
}
p {
	font-size: 14px;
	line-height: 1.6;
	margin: 15px 0;
	color: @color_28;
	.btn {
		margin-left: 15px;
	}
}
.lead {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
}
small {
	font-size: 80%;
	line-height: 2;
}
.small {
	font-size: 80%;
	line-height: 2;
}
em {
	color: @color_29;
}
a {
	color: @color_30;
	&:hover {
		color: @color_31;
		text-decoration: none;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}
ol {
	position: relative;
	padding-left: 22px;
	li {
		font-size: 14px;
		color: @color_28;
		margin-bottom: 5px;
	}
}
ul {
	list-style: none;
	position: relative;
	padding-left: 22px;
	li {
		font-size: 14px;
		color: @color_28;
		margin-bottom: 5px;
	}
}
ul.circle {
	li {
		&:before {
			font-family: @font-family_3;
			content: '\f10c';
			font-size: 12px;
			color: @color_31;
			padding-top: 2px;
			margin-left: -20px;
			position: absolute;
		}
	}
}
.underlined-title {
	text-align: center;
	padding-bottom: 30px;
	h1 {
		color: @color_32;
		margin: 0;
	}
	h2 {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		color: @color_33;
	}
	hr {
		width: 10%;
		border-width: 2px;
		border-color: #16a085;
	}
}
.btn {
	color: @color_34;
	padding: 10px 20px;
	margin: 15px 0;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-shadow: none;
	border: none;
	text-transform: uppercase;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.btn-sm {
	padding: 7px 13px;
	font-size: 12px;
}
.btn-lg {
	padding: 16px 26px;
	font-size: 16px;
}
.btn-xl {
	padding: 18px 30px;
	font-size: 24px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.disabled {
	a {
		cursor: not-allowed;
	}
}
.btn.btn-default {
	background: #ecf0f1;
	box-shadow: 0 2px #bdc3c7;
	color: @color_35;
	&:hover {
		background: #bdc3c7;
	}
}
.btn.btn-primary {
	background: #1abc9c;
	box-shadow: 0 2px #16a085;
	&:hover {
		background: #16a085;
	}
}
.btn.btn-warning {
	background: #f1c40f;
	box-shadow: 0 2px #f39c12;
	&:hover {
		background: #f39c12;
	}
}
.btn.btn-danger {
	background: #e74c3c;
	box-shadow: 0 2px #c0392b;
	&:hover {
		background: #c0392b;
	}
}
.btn.btn-success {
	background: #2ecc71;
	box-shadow: 0 2px #27ae60;
	&:hover {
		background: #27ae60;
	}
}
.btn.btn-dark {
	background: #34495e;
	box-shadow: 0 2px #2c3e50;
	color: @color_36;
	&:hover {
		background: #2c3e50;
	}
}
.btn.btn-info {
	background: #3498db;
	box-shadow: 0 2px #2980b9;
	&:hover {
		background: #2980b9;
	}
}
.btn-outline {
	color: @color_34;
	padding: 12px 20px;
	margin: 15px 0;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.1em;
	text-shadow: none;
	border: none;
	text-transform: uppercase;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	&:hover {
		text-decoration: none;
		color: @color_36;
	}
}
.btn-outline-sm {
	padding: 5px 13px;
	font-size: 13px;
}
.btn-outline-lg {
	padding: 14px 26px;
	font-size: 15px;
}
.btn-outline-xl {
	padding: 18px 30px;
	font-size: 24px;
}
.btn-outline.outline-light {
	color: @color_36;
	background: none;
	border: 2px solid #ffffff;
	&:hover {
		color: @color_32;
		background: #ffffff;
	}
}
.icon.outline-light {
	color: @color_36;
	background: none;
	border: 2px solid #ffffff;
	&:hover {
		color: @color_32;
		background: #ffffff;
	}
}
.btn-outline.outline-dark {
	color: @color_32;
	background: none;
	border: 2px solid #2c3e50;
	&:hover {
		color: @color_36;
		background: #2c3e50;
	}
}
.icon.outline-dark {
	color: @color_32;
	background: none;
	border: 2px solid #2c3e50;
	&:hover {
		color: @color_36;
		background: #2c3e50;
	}
}
button {
	&:hover {
		text-decoration: none;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}
.social {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	z-index: 100;
	li {
		display: inline-block;
		margin-right: 6px;
		a {
			display: table;
			position: relative;
			i {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				width: 34px;
				height: 34px;
				font-size: 18px;
				-webkit-transition: all 200ms ease-out;
				-moz-transition: all 200ms ease-out;
				-o-transition: all 200ms ease-out;
				transition: all 200ms ease-out;
				&:after {
					content: '';
					z-index: -1;
					position: absolute;
					width: 100%;
					height: 0;
					top: 0;
					left: 0;
					-webkit-transition: all 200ms ease-out;
					-moz-transition: all 200ms ease-out;
					-o-transition: all 200ms ease-out;
					transition: all 200ms ease-out;
				}
			}
			&:hover {
				i {
					color: @color_38;
					&:after {
						height: 100%;
					}
				}
			}
		}
	}
	a {
		.fa-facebook {
			&:after {
				background: #3b5998;
			}
		}
		.fa-google-plus {
			&:after {
				background: #dd4b39;
			}
		}
		.fa-twitter {
			&:after {
				background: #00aced;
			}
		}
		.fa-pinterest {
			&:after {
				background: #CB2027;
			}
		}
		.fa-behance {
			&:after {
				background: #1769FF;
			}
		}
		.fa-dribbble {
			&:after {
				background: #EA4C89;
			}
		}
	}
}
.social-light {
	li {
		a {
			i {
				color: @color_36;
			}
		}
	}
}
.social-dark {
	li {
		a {
			i {
				color: @color_37;
			}
		}
	}
}
fieldset {
	border: 2px solid #ecf0f1;
	border-radius: 6px;
	padding: 30px 50px;
	legend {
		color: @color_39;
		padding: 5px 10px;
		border: 2px solid #ecf0f1;
		border-radius: 6px;
	}
}
.form-control {
	border: 2px solid #ecf0f1;
	color: @color_40;
	font-size: 14px;
	line-height: 1.467;
	padding: 8px 12px;
	height: 40px;
	-webkit-appearance: none;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	&:focus {
		border-color: #1abc9c;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	&+.input-icon {
		position: absolute;
		top: 2px;
		right: 2px;
		line-height: 37px;
		vertical-align: middle;
		font-size: 20px;
		color: @color_45;
		background-color: #ffffff;
		padding: 0 12px 0 0;
		border-radius: 6px;
	}
}
.form-group {
	position: relative;
	margin-bottom: 20px;
}
.form-group.focus {
	.form-control {
		border-color: #1abc9c;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.form-control[disabled] {
	background-color: #f4f6f6;
	border-color: #d5dbdb;
	color: @color_41;
	cursor: default;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.form-control[readonly] {
	background-color: #f4f6f6;
	border-color: #d5dbdb;
	color: @color_41;
	cursor: default;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
fieldset[disabled] {
	.form-control {
		background-color: #f4f6f6;
		border-color: #d5dbdb;
		color: @color_41;
		cursor: default;
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
}
.form-control.form-minimal {
	border-color: transparent;
	&:hover {
		border-color: #bdc3c7;
	}
	&:focus {
		border-color: #1abc9c;
	}
}
.has-success {
	.help-block {
		color: @color_42;
	}
	.control-label {
		color: @color_42;
	}
	.form-control {
		color: @color_42;
		border-color: #2ecc71;
		-webkit-box-shadow: none;
		box-shadow: none;
		&:-moz-placeholder {
			color: @color_42;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: @color_42;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: @color_42;
		}
		&::-webkit-input-placeholder {
			color: @color_42;
		}
		&:focus {
			border-color: #2ecc71;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.form-control.placeholder {
		color: @color_42;
	}
	.input-group-addon {
		color: @color_42;
		border-color: #2ecc71;
		background-color: #ffffff;
	}
}
.has-warning {
	.help-block {
		color: @color_43;
	}
	.control-label {
		color: @color_43;
	}
	.form-control {
		color: @color_43;
		border-color: #f1c40f;
		-webkit-box-shadow: none;
		box-shadow: none;
		&:-moz-placeholder {
			color: @color_43;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: @color_43;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: @color_43;
		}
		&::-webkit-input-placeholder {
			color: @color_43;
		}
		&:focus {
			border-color: #f1c40f;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.form-control.placeholder {
		color: @color_43;
	}
	.input-group-addon {
		color: @color_43;
		border-color: #f1c40f;
		background-color: #ffffff;
	}
}
.has-error {
	.help-block {
		color: @color_44;
	}
	.control-label {
		color: @color_44;
	}
	.form-control {
		color: @color_44;
		border-color: #e74c3c;
		-webkit-box-shadow: none;
		box-shadow: none;
		&:-moz-placeholder {
			color: @color_44;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: @color_44;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: @color_44;
		}
		&::-webkit-input-placeholder {
			color: @color_44;
		}
		&:focus {
			border-color: #e74c3c;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.form-control.placeholder {
		color: @color_44;
	}
	.input-group-addon {
		color: @color_44;
		border-color: #e74c3c;
		background-color: #ffffff;
	}
}
.input-hg {
	&+.input-icon {
		line-height: 49px;
		padding: 0 16px 0 0;
	}
}
.input-lg {
	&+.input-icon {
		line-height: 41px;
		padding: 0 15px 0 0;
	}
}
.input-sm {
	&+.input-icon {
		font-size: 18px;
		line-height: 30px;
		padding: 0 10px 0 0;
	}
}
.input-group {
	.input-group-btn {
		.btn {
			margin: 0;
			box-shadow: none;
		}
	}
}
.panel-group {
	margin-bottom: 0;
	&+.panel-group {
		margin-top: 20px;
	}
	.panel {
		background: #fff;
		border: 1px solid #E6E9ED;
		border-bottom-width: 2px;
		border-radius: 3px;
		box-shadow: none;
		&+.panel {
			margin-top: 10px;
		}
	}
	.panel-heading {
		&+.panel-collapse {
			.panel-body {
				border-top-color: #E6E9ED;
			}
		}
	}
}
.panel-body {
	padding: 25px;
}
.panel-heading {
	background-color: inherit !important;
	color: @color_46 !important;
	padding: 0;
	border-color: inherit !important;
}
.panel-title {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	>a {
		display: block;
		padding: 15px 25px 15px;
		text-decoration: none;
		color: @color_47;
		background: #16A085;
		color: @color_47;
		&:hover {
			background: #16A085;
			color: @color_47;
			span {
				color: @color_46;
			}
		}
		span {
			display: block;
			position: relative;
			top: 0;
			color: @color_47;
			padding-right: 25px;
			&:after {
				font-family: @font-family_4;
				content: "\f077";
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	>a.collapsed {
		background: #f5f5f5;
		color: @color_14;
		span {
			color: @color_14;
			&:after {
				content: "\f078";
			}
		}
	}
}
.text-right {
	.panel-title {
		>a {
			span {
				padding-left: 25px;
				padding-right: 0;
				&:after {
					left: 0;
					right: auto;
				}
			}
		}
	}
}
.text-center {
	.panel-title {
		>a {
			span {
				padding-left: 0;
				padding-right: 0;
				&:after {
					top: -.75em;
					left: 0;
					opacity: 0;
				}
			}
			&:hover {
				span {
					top: .5em;
					color: @color_48;
				}
			}
		}
	}
}
.nav-tabs {
	margin: 0 auto;
	>li {
		z-index: 2;
		float: none;
		display: inline-block;
		>a {
			padding: 16px 25px 12px;
			font-size: 14px;
			font-weight: 700;
			font-style: normal;
			text-transform: uppercase;
			color: @color_49;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			border: none !important;
			border-bottom: 4px solid transparent !important;
		}
	}
	>li.active {
		>a {
			background-color: transparent;
			border-bottom: 4px solid #85d6de !important;
			&:hover {
				background-color: transparent;
				border-bottom: 4px solid #85d6de !important;
			}
			&:focus {
				background-color: transparent;
				border-bottom: 4px solid #85d6de !important;
			}
		}
	}
}
.nav {
	>li {
		>a {
			&:hover {
				outline: 0;
			}
			&:focus {
				outline: 0;
			}
		}
	}
}
.tab-content {
	padding-left: 0;
	padding-right: 0;
	border: none;
}
.tab-pane {
	padding: 50px 0;
	border-bottom: 1px solid #ecf0f1;
}
.pagination {
	li {
		a {
			font-size: 14px;
			color: @color_14;
			background: none;
			margin: 0 3px;
			border: 1px solid #16A085;
			padding: 5px 12px;
		}
		&:first-child {
			a {
				border-radius: 0 !important;
			}
		}
		&:last-child {
			a {
				border-radius: 0 !important;
			}
		}
	}
	>li {
		>a {
			&:hover {
				color: @color_14;
			}
			&:focus {
				color: @color_14;
			}
		}
		>span {
			&:hover {
				color: @color_14;
			}
			&:focus {
				color: @color_14;
			}
		}
	}
	>.active {
		>a {
			background-color: #1ABC9C;
			border-color: #16A085;
			&:hover {
				background-color: #1ABC9C;
				border-color: #16A085;
			}
			&:focus {
				background-color: #1ABC9C;
				border-color: #16A085;
			}
		}
		>span {
			background-color: #1ABC9C;
			border-color: #16A085;
			&:hover {
				background-color: #1ABC9C;
				border-color: #16A085;
			}
			&:focus {
				background-color: #1ABC9C;
				border-color: #16A085;
			}
		}
	}
	>.disabled {
		>span {
			color: @color_35;
			&:hover {
				color: @color_35;
			}
			&:focus {
				color: @color_35;
			}
		}
		>a {
			color: @color_35;
			&:hover {
				color: @color_35;
			}
			&:focus {
				color: @color_35;
			}
		}
	}
}
.pagination-lg {
	li {
		a {
			padding: 8px 16px;
			font-size: 16px;
		}
	}
}
.pagination-sm {
	li {
		a {
			padding: 4px 10px;
			font-size: 12px;
		}
	}
}
.pager {
	li {
		>a {
			border: 1px solid #16A085;
			border-radius: 0;
			color: @color_14;
			font-size: 14px;
			min-width: 160px;
			&:hover {
				border: 1px solid #ddd;
			}
			&:focus {
				border: 1px solid #ddd;
			}
		}
		>span {
			border: 1px solid #16A085;
			border-radius: 0;
			color: @color_14;
			font-size: 14px;
			min-width: 160px;
		}
	}
	.next {
		>a {
			float: right;
		}
		>span {
			float: right;
		}
	}
	.previous {
		>a {
			float: left;
		}
		>span {
			float: left;
		}
	}
	.disabled {
		>a {
			color: @color_35;
			border: 1px solid #ddd;
			&:hover {
				color: @color_35;
				border: 1px solid #ddd;
			}
			&:focus {
				color: @color_35;
				border: 1px solid #ddd;
			}
		}
		>span {
			color: @color_35;
			border: 1px solid #ddd;
		}
	}
}
.content-block {
	width: 100%;
	padding: 60px 0 60px 0;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}
.content-block-nopad {
	width: 100%;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}
@media only screen and (max-width : 767px) {
	.min-height-xs-100px {
		min-height: 100px !important;
	}
	.min-height-xs-200px {
		min-height: 200px !important;
	}
	.min-height-xs-300px {
		min-height: 300px !important;
	}
	.min-height-xs-400px {
		min-height: 400px !important;
	}
	.min-height-xs-500px {
		min-height: 500px !important;
	}
	.min-height-xs-600px {
		min-height: 600px !important;
	}
	.min-height-xs-700px {
		min-height: 700px !important;
	}
	.min-height-xs-800px {
		min-height: 800px !important;
	}
}
